/* Navbar */
my-navbar nav {
    background-color: #ffffff00;
    box-shadow: unset;
    -webkit-box-shadow: unset;
}

/* Search box */
search-box > .row {
    margin-top: 150px;
}


/* search-box .input-field label {
    color: #ffffff;
}

search-box .input-field input[type=text]:focus + label,
search-box textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ffffff;
}

search-box .input-field input[type=text]:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

search-box .input-field input[type=text].valid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

search-box .input-field input[type=text].invalid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

search-box .input-field .prefix.active,
search-box .input-field .prefix{
    color: #ffffff;
}
search-box textarea.materialize-textarea {
    border-bottom-color: #ffffff;
}

search-box textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
} */